@use "./data/variables.scss";
@use "./data/keyframes.scss";
@use "./templates/navbar.scss";
@use "./templates/footer.scss";
@use "./sites/gallery.scss";
@use "./sites/about_me.scss";
@use "./sites/projects.scss";

body {
  position: relative;

  margin: 0;

  font-family: "JetBrains Mono", monospace;
  font-size: var(--primary-font-size);

  background-color: var(--black);
}

root {
  display: block;
  min-height: 100vh;

  position: relative;

  color: #fff6d5;
  text-align: center;

  animation: transition_in var(--speed) ease-in-out;
}

.content {
  padding-bottom: var(--footer_height);
}

button {
  border-radius: 50px;
  border: 2px solid var(--white);
  color: var(--white);
  background-color: var(--dark_gray);
}

a {
  text-decoration: none;
  color: var(--red);
}

p {
  margin: 2.5vw;
}
