@use "./data/variables.scss";
@use "./data/keyframes.scss";
@use "./templates/navbar.scss";
@use "./templates/footer.scss";
@use "./sites/gallery.scss";
@use "./sites/about_me.scss";
@use "./sites/projects.scss";
@use "./sites/blogs.scss";

/**
 * Special CSS glyphs.
 *
 * Example (based example btw):
 * I really <i class="nf nf-fa-heart"></i> <i class="nf nf-custom-vim"></i>
 *
 * NOTE: The output of that example is shown on their site:
 * https://www.nerdfonts.com/cheat-sheet
 */

@import "https://www.nerdfonts.com/assets/css/webfont.css";

body {
  position: relative;

  margin: 0;

  line-height: 1.69;

  font-family: "JetBrains Mono", monospace;
  font-size: var(--primary-font-size);

  background-color: var(--black);
}

root {
  display: block;
  min-height: 100vh;

  position: relative;

  color: var(--primary-font-color);
  text-align: center;

  animation: transition_in var(--speed) ease-in-out;
}

.content {
  padding-bottom: var(--footer_height);
}

button {
  border-radius: 50px;
  border: 2px solid var(--white);
  color: var(--white);
  background-color: var(--dark_gray);
}

a {
  text-decoration: none;
  color: var(--red);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-left: var(--side-content-offset);
  margin-right: var(--side-content-offset);
}

/**
 * This is a special font to make sure that the Nerd Fonts work everywhere
 */
.nerd-font-glyph:before {
  font-family: "NerdFontsSymbols Nerd Font";
  font-style: normal;
  margin-right: 10px;
}

/**
 * Invert the colors for all the LaTeX SVG graphics.
 */
.tex-svg {
  filter: invert(1);
  width: var(--tex-item-width);
}

.share-button {
  color: var(--primary-font-color);
  transition: all var(--quick-speed) var(--bezier-primary);
}
.share-button:hover {
  color: var(--light-red);
}

/**
 * GitHub Gist code embeds via an iframe (cuz async js request in wasm is hard)
 */
.iframe-gist {
  min-width: 100%;
  height: auto;
}

/**
 * YouTube video player iframe embed.
 * Credit:
 * https://techstacker.com/how-to-responsive-youtube-videos/
 */
.youtube-video-container {
  position: relative;
  overflow: hidden;
  width: 90%;
  margin: auto;
}

.youtube-video-container::after {
  display: block;
  content: "";
  padding-top: 56.25%;
}

.youtube-video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
