:root {
  /* Color scheming */
  --footer_height: 250px;
  --black: #111;
  --dark_gray: #333;
  --red: #e00;
  --white: #eee;
  /* Margins */
  --col_side_margin: 10px;
  --col_side_margin_times_two: calc(var(col_side_margin) * 2);
  /* Time */
  --speed: 0.5s;
  /* Special mobile nav button offset */
  --bottom-nav-offset: 75%;
}

@keyframes transition_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  position: relative;

  margin: 0;

  font-family: "JetBrains Mono", monospace;
  font-size: 1.5rem;

  background-color: var(--black);
}

root {
  display: block;
  min-height: 100vh;

  position: relative;

  color: #fff6d5;
  text-align: center;

  animation: transition_in var(--speed) ease-in-out;
}

.content {
  padding-bottom: var(--footer_height);
}

button {
  border-radius: 50px;
  border: 2px solid var(--white);
  color: var(--white);
  background-color: var(--dark_gray);
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;

  position: sticky;
  top: 0;

  width: 100%;
  background-color: #111;

  padding: 15px 0;

  z-index: 100;

  border-bottom: 3px solid var(--red);
}
.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-item {
  display: inline-block;
  padding: 0 20px;
}
.nav-item::after {
  content: "";
  width: 100%;
  opacity: 0%;
  height: 1px;
  translate: -50% 0;
  margin-left: 50%;
  display: block;
  background: var(--red);
  transition: var(--speed);
}
.nav-item:hover::after {
  opacity: 100%;
}
.mobile-nav-button {
  display: none;
  text-decoration: none !important;
}
.opened-mobile-nav-button {
  position: absolute;
  top: var(--bottom-nav-offset);
  font-size: 3em;
}
.opened-nav-item {
  display: block;
}
.opened-nav {
  height: 100vh;
  position: fixed;
}
@media screen and (max-width: 800px) {
  nav {
    flex-direction: column-reverse;
  }
  .mobile-nav-item,
  .mobile-nav-button {
    width: 100vw;
  }
  .mobile-nav-button {
    display: block;
  }
  .mobile-nav-item {
    margin: 60px 0;
  }
  .nav-container {
    flex-wrap: wrap;
  }
  .nav-item {
    display: none;
  }
}

a {
  text-decoration: none;
  color: var(--red);
}

.pagination {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 0.8em;
  button {
    width: 75px;
    margin: 10px;
    padding: 20px 5px;
  }
  span {
    min-width: 100vw;
  }
}

.hu-tao-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--dark_gray);
  margin: 10px;
  padding-bottom: var(--col_side_margin_times_two);
}
.column {
  max-width: 22vw;
  @media screen and (max-width: 600px) {
    max-width: 100vw;
  }
  box-sizing: border-box;
  margin: 0px var(--col_side_margin);
  div {
    display: flex;
    flex-direction: column;
    animation: transition_in var(--speed) ease-in-out;
  }
  img {
    max-width: 100%;
    display: block;
    margin: var(--col_side_margin) 0px;
    transition: var(--speed) ease-in-out;
    box-shadow: 0 0 10px 5px black;
  }
  a {
    position: relative;
    bottom: 1.7em;
    margin-bottom: -1em;
    background-color: black;
    opacity: 0;
    transition: 0.25s ease-in-out;
  }
  div:hover a {
    opacity: 1;
  }
  img:hover {
    background-color: rgb(0, 0, 0);
    opacity: 0.5;
  }
}

footer {
  height: var(--footer_height);
  width: 100vw;

  position: absolute;
  bottom: 0;
}
