:root {
  /* Color scheming */
  --footer_height: 250px;
  --black: #111;
  --dark_gray: #333;
  --light-red: #e77;
  --red: #e00;
  --dark-red: #700;
  --white: #eee;

  /* Navbar variables */
  --nav-height: 69px;
  --nav-button-size: 2em;
  --nav-border-size: 3px;

  /* Margins */
  --col_side_margin: 10px;
  --download-bar-margin: -1em;
  --download-bar-bottom: 1.69em;

  /* Paddings */
  /**
   * This value is sacred...
   * I'm disappointing for having to use magical constants...
   * I really wish this is the only one used.
   */
  --nav-item-padding: 15px;

  /* Animation preset */
  --speed: 0.5s;
  --quick-speed: 0.25s;
  --bezier-primary: ease-in-out;

  /* Special mobile nav button offset */
  --bottom-nav-offset: 69%;

  /* Gallery specific variables */
  --prev-next-distance: 5%;

  /**
   * z-index variables
   * The higher the more in front the element is.
   *
   */
  --order-1: 1;
  --order-2: 2;
  --navbar-overlay: 3;
  --fullscreen-preview-elements: 4;
  --close-button: 5;

  --footer-items-margins: 10px;
}
