@use "../data/variables.scss";
@use "../data/keyframes.scss";

ul {
  text-align: initial;
  display: inline-flex;
  flex-direction: column;
}
li {
  padding: 10px 0;
}
/**
 * Since it has a bunch of links, extra margin will make it more
 * convenient for mobile users to navigate through them.
 */
.other-projects li {
  margin: 15px 0;
}
.project-showcase img,
li img {
  width: var(--primary-font-size);
  /* Yeah bruh, pretty deprecated ikr */
  vertical-align: middle;
}
