@use "../data/variables.scss";

.blog-showcase {
  text-align: justify;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--light-red);
    word-break: break-word;
    word-wrap: break-word;
  }
}
.blog-showcase h1 {
  text-align: center;
}
.blog-showcase ul,
.blog-showcase ol,
.blog-showcase details {
  margin-right: var(--side-content-offset);
  margin-left: var(--side-content-offset);
}
.blog-showcase > img {
  max-width: 90vw;
  max-height: 90vh;
  display: flex;
  margin: auto;
}
.blog-showcase hr {
  width: 90%;
  margin: auto;
  color: var(--light-red);
}

.blog-details-item {
  margin: 20px 0;
}
