@use "../data/variables.scss";
@use "../data/keyframes.scss";

.pagination {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 0.8em;
  button {
    width: 75px;
    margin: 10px;
    padding: 20px 5px;
  }
  span {
    min-width: 100dvw;
  }
}

.hu-tao-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--dark_gray);
  margin: 10px;
}
/**
 * The data is split into 4 columns containing an even amount of images (except
 * at the last page).
 *
 */
.column {
  max-width: 22dvw;
  position: relative;
  /* Mobile responsiveness */
  @media screen and (max-width: 900px) {
    max-width: 33dvw;
  }
  @media screen and (max-width: 600px) {
    max-width: 100dvw;
  }

  /* This is a must */
  box-sizing: border-box;
  margin: 0px var(--col_side_margin);

  div {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    animation: transition_in var(--speed) var(--bezier-primary);
  }
  .img-wrapper {
    position: relative;
  }
  .img-wrapper::before {
    position: absolute;
    content: "";
    background: black;
    width: 100%;
    height: calc(
      100% - var(--download-bar-margin) - var(--download-bar-bottom)
    );
    opacity: 0;
    inset: 0;
    margin: auto;
    transition: opacity var(--speed) var(--bezier-primary);
    z-index: var(--order-1);
  }
  .img-wrapper:hover::before {
    opacity: 0.5;
  }
  img {
    max-width: 100%;
    display: block;
    position: relative;
    margin: var(--col_side_margin) 0px;
    transition: var(--speed) ease-in-out;
    box-shadow: 0 0 10px 5px black;
  }
  a {
    position: relative;
    bottom: var(--download-bar-bottom);
    margin-bottom: var(--download-bar-margin);
    background-color: black;
    opacity: 0;
    transition: var(--speed) var(--bezier-primary);
    z-index: var(--order-1);
  }

  /* Custom styling for the hover */
  div:hover a {
    opacity: 1;
  }
}

/**
 * Handle the fullscreen display and the image closing button
 * Also handle the next and previous image buttons.
 */
.hidden-next-image-button,
.hidden-prev-image-button,
.hidden-image-close-button {
  display: none;
}
.next-image-button,
.prev-image-button,
.image-close-button {
  position: fixed;
  width: 55px;
  height: 55px;
  cursor: pointer;
  z-index: var(--close-button);
}
.image-close-button {
  left: 0;
  right: 0;
  bottom: 5%;
}
.next-image-button,
.prev-image-button {
  top: 0;
  bottom: 0;
}
.image-close-button,
.next-image-button,
.prev-image-button {
  margin: auto;
}
.prev-image-button {
  left: var(--prev-next-distance);
}
.next-image-button {
  right: var(--prev-next-distance);
}
.fullscreen-overlay {
  justify-content: center;

  position: fixed;
  inset: 0;

  z-index: var(--fullscreen-preview-elements);
  background-color: rgba(0, 0, 0, 0.6);
}
.fullscreen-overlay img {
  max-width: 80dvw;
  max-height: 80dvh;
  object-fit: cover;
  /* Margin auto my beloved <3 */
  margin: auto;
}
.fullscreen-overlay a {
  opacity: 1;

  display: flex;
  align-self: center;

  background-color: rgba(0, 0, 0, 0.6);
  font-size: 1.5em;
  width: fit-content;

  margin: auto;
  inset: 0;
  top: -75%;
  z-index: var(--fullscreen-preview-elements);
}
.fullscreen-overlay > img:hover {
  opacity: 1;
}
.fullscreen-img {
  width: 100dvw;
  height: 100dvh;
  margin: auto;
}

.hidden-image-artist-box {
  display: none;
}
.image-artist-box {
  /**
   * There's overrides from fullscreen-overlay a that's why.
   */
  top: -25% !important;
}
